{
    "thresholds": {
        "cpu": 50,
        "memory": 80,
        "disk": 75,
        "network": 104857600
    },
    "slack_webhook_url": "SLACK_WEBHOOK_URL",
    "email": {
        "sender": "your-email@gmail.com",
        "receiver": "receiver-email@gmail.com",
        "smtp_server": "smtp.gmail.com",
        "smtp_port": 587,
        "username": "your-email@gmail.com",
        "password": "your-password"
    },
    "services": [
        {
            "name": "docker",
            "auto_restart": true
        },
        {
            "name": "smbd",
            "auto_restart": true
        }
    ],
    "docker_containers": ["meu_container1", "meu_container2"],
    "notifications": {
	"slack": true,
	"email": false,
	"log": true
    },
    "log_retention_days": 30
}

